*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* HEADER SECTION */

header{
    display: flex;
    justify-content: space-between;
    background-color:#1f2937;
    padding: .5rem;
}

ul{
    display: flex;
    gap: 3rem;
    margin-right: 20rem;
    list-style-type: none;
    color: #e5e7eb;
}

h1{
    font-size: 1.5rem;
    font: "Roboto";
    color: #F9FAF8;
    margin-left: 10rem;
}

/* HERO SECTION */

#hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1f2937;
  padding: 4rem 8rem; 
  gap: 4rem;
}
    
.text {
  flex: 0 1 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  gap: 1.5rem;
}
    
.text p{ 
    color: #e5e7eb; 
    font-size: 1rem; 
    max-width: 40ch; 
    line-height: 1.5; } 

#hero h2{ 
    font-size: 3rem; 
    color: #F9FAF8; 
    max-width: 15ch; } 
    
button{ 
    border: 1px solid white; 
    border-radius: 10px; 
    padding: 1rem 3rem; 
    background-color: #3882f6; 
    color: #F9FAF8; 
    font-weight: 900; } 
    
.img {
  flex: 0 1 45%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.img img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

/* INFO SECTION */

#info h2{
    text-align: center;
    margin: 3rem;
    font-size: 2.2rem;
    font-family: sans-serif;
    font-weight: 900;
    color: #1f2937;
}

.card-stack{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 5rem;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
}

.card img{
    max-width: 175px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.card p{
    color: #5B6471;
    max-width: 20ch;
    font-family: sans-serif;
    text-align: center;
}

/* QUOTE SECTION */

#quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e5e7eb;
    gap: 2rem;
    height: 20rem;
}

blockquote{
    font-size: 2rem;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
    font-family: sans-serif;
    max-width: 42ch;
}

#quote p{
    text-align: right;
    color: #1f2937;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: sans-serif;
}